form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input.ng-touched.ng-invalid{
    border-color: red !important
  }
  
  input.ng-valid{
    border-color: green !important
  }
  