<!-- 
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Usurname</mat-label>
    <input matInput (input)="onInput($event)"/>
  </mat-form-field> -->

<!-- *ngFor
  <ul>
    <li *ngFor="let persona of persone">
      {{persona.nome}} - {{persona.cognome}}
    </li>
  </ul>
 -->
 <!-- *ngSwitch -->
  <div [ngSwitch]="numero">
    <p *ngSwitchCase="1">uno</p>
    <p *ngSwitchCase="2">due</p>
    <p *ngSwitchCase="3">tre</p>
    <p *ngSwitchCase="4">quattro</p>
    <p *ngSwitchDefault>Default</p>
  </div>